$main-font: 'Nunito', sans-serif;

$max-width: 1170px;
$min-width: 360px;

// colors
$primary-color: #F4E041;
$secondary-color: #00BDD3;
$bg-color: #F8F8F8;
$text-color: #000000DE;

// break-point
$tablet-width: 767.98px;
$desktop-width: 991.98px;
$large-desktop-width: 1169.98px;

