{
  "extends": [
    "react-app",
    "react-app/jest",
    "eslint:recommended",
    "standard",
    "plugin:react/jsx-runtime",
    "airbnb",
    "plugin:import/errors",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  "plugins": ["react", "import", "prettier", "jsx-a11y", "jsx"],
  "parser": "@babel/eslint-parser",
  "settings": {
    "react": {
        "version": "detect"
    }
},
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "no-console": 1,
    "linebreak-style": ["error", "unix"],
    "react/prop-types": 1,
    "react/jsx-props-no-spreading": 1,
    "no-unused-vars": 1,
    "no-use-before-define": 0,
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "jsx-a11y/label-has-associated-control": [ "error", {
      "required": {
        "some": [ "nesting", "id"  ]
      }
    }],
    "jsx-a11y/label-has-for": [ "error", {
      "required": {
        "some": [ "nesting", "id"  ]
      }
    }],
    "jsx-a11y/no-onchange": 0,
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true
    }],
    "react/destructuring-assignment": [
      2,
      "always",
      {
        "ignoreClassFields": true
      }
    ]
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  }
}
