.poster {
  padding-top: 40px;
  padding-bottom: 71px;
  margin-bottom: 140px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/img/pexels-alexandr-podvalny-1227513.jpeg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #FFFFFF;

  @media (min-width: $tablet-width) {
    padding-top: 89px;
    padding-bottom: 88px;
  }
  @media (min-width: $desktop-width) {
    padding-top: 164px;
    padding-bottom: 163px;
  }
}
.poster__wrapper {
  display:flex;
  flex-direction: column;
  place-items: center;
  max-width: 380px;
  margin: 0 auto;
}
.poster__heading  {
  margin-bottom: 21px;
  color: #FFFFFF;
}
.poster__text {
  margin-bottom: 32px;
}
